html {
	@apply bg-gray-100;
}

.me-underline {
	padding: 0;
	position: relative;
	text-decoration: none;
	display: inline-block;
	transition: all .10s ease;
}

.me-underline::after {
	content: "";
	height: 20%;
	bottom: 4px;
	transition: all .10s ease;
	background: linear-gradient(90deg, rgba(27,84,128,0.500) 0%, rgba(33,141,150,0.500) 100%);
	@apply left-0 w-full outline-none absolute no-underline;
}

.me-underline:hover::after {
	height: 15%;
	bottom: 0px;
}

.me-gradient {
	background: linear-gradient(90deg, rgba(27,84,128,1) 0%, rgba(27,84,128,1) 25%, rgba(33,141,150,1) 100%);
}
