html {
  @apply bg-gray-100; /* Set slight gray background */
}

.me-underline {
	padding: 0;
	position: relative;
	text-decoration: none;
	display: inline-block;
	transition: all .10s ease;
}

.me-underline::after {
	left: 0;
	content: "";
	width: 100%;
	bottom: 5px;
	height: 20%;
	outline: none;
	position: absolute;
	text-decoration: none;
	transition: all .10s ease;
	background-color: rgba(42, 105, 242, 0.5);
}

.me-underline:hover::after {
	height: 15%;
	bottom: 0px;
}
