html {
	@apply bg-gray-100;
}

.me-underline {
	padding: 0;
	position: relative;
	text-decoration: none;
	display: inline-block;
	transition: all .10s ease;
}

.me-underline::after {
	content: "";
	height: 20%;
	bottom: 4px;
	transition: all .10s ease;
	background-color: rgb(127, 156, 245, 0.500);
	@apply left-0 w-full outline-none absolute no-underline;
}

.me-underline:hover::after {
	height: 15%;
	bottom: 0px;
}
